<div class='index'>
    <img id='background' src='/images/spotify-background.jpeg' width="400px">
    <form action='/artist-search' method='GET'>
      <label>Artist Name:</label>
      <input type='text' name='artist' placeholder='Search Here'/>
      <br>
      <button type='submit'>Search for an Artist</button>
    </form>
</div>